* {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  font-size: 14px;
}

/* Switch font size for different devices */
@media (min-width: 600px ) {
	html, body {
		font-size: 15px;
	}
}

@media (min-width: 980px ) {
	html, body {
		font-size: 17px;
	}
}

@media (min-width: 1260px ) {
	html, body {
		font-size: 18px;
	}
}

#spiral {
  width: 100%;
  height: 100%;
  /* background-color: black; */
}
